<HTML>
	<HEAD>
		<TITLE>Aplicacion de Ruby en Sinatra</TITLE>
	</HEAD>
	<BODY>
		<H3><CENTER>Proyecto programado #4 Ruby en Sinatra</CENTER></H3>
		<BODY BGCOLOR="#FF000" TEXT="#FFFFFF">
		<HR>
			Proyecto hecho en Ruby version 1.8 con HTML
			montado en Sinatra, con una conexion en Flickr.
		</HR>
		<P>Sistema de Busqueda</P>
		<form  action="/buscar_fotos" method="post">
			<P>Parametros de busqueda</P>
			<input type="text" name="campo1" value="" size="30">
			<br>
			<P>Numero de imagenes</P>
			<input type="text" name="campo2" value="" size="20">
			<br>
			<input type="submit" value="Enviar informacion">
		</form>
		<IMG SRC = "http://pabloaraya.org/wp-content/uploads/2012/01/ruby_logo.jpg" 
			ALT="Ruby" ALING="LEFT" width=400 height=200/>
	</BODY>
</HTML>
