<HTML>
	<HEAD>
			<TITLE>Aplicacion de Ruby en Sinatra</TITLE>
	</HEAD>
	<BODY>
		<H3><CENTER>Proyecto programado #4 Ruby en Sinatra</CENTER></H3>
		<HR>
			Proyecto hecho en Ruby version 1.8 con HTML
			montado en Sinatra, con una conexion en Flickr.
		<HR>
		<P> Imagen numero <%= $Actual %> de <%= $Total %></P>
		<P>
			<IMG SRC = <%= $Foto %> width=400 height=200/>
		</P>
		<P> El titulo de la imagen es : <%= $Titulo %> </P>
		<form action="/siguiente" method="post">
			<input type="submit" value="Siguiente pagina">
		</form>
		<P>
		<P>El tweet ha fallado, puede ser que no este conectado o que el tweet ha superado el maximo de 140 caracteres.</P>
		<form action="/twitteo" method="post">
			<input type="submit" value="Tweet Photo">
		</form>
		</P>
	</BODY>
</HTML>
